.App {
  display: block;
  margin:  25px;
  text-align: center;
}

.screen {  
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.board {
  display: inline-block;
  background-color: #dcdcdc;
  border: 1px solid #808080;
  padding: 10px;
  overflow: hidden;
}

.column {
  display: inline-block;
}

.token {
  width: 50px;
  height: 50px;
  border: 1px solid #808080;
  border-radius: 50%;
  margin: 10px;
  cursor: pointer;
}

.token.player-one {
  background-color: #dc143c;
}

.token.player-two {
  background-color: #1e90ff;
}

.overlay {
  position: absolute;
  top:  0;
  left:  0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.5);
}

.overlay .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}